/**
 * layout_main.css
 *
 **/

/**********************************************************************************************************************
 * MAIN                                                                                                               *
 **********************************************************************************************************************/

html, body {
	height: 100vh;
}

wrapper {
    min-height: 100vh;
    height: auto;
}

wrapper > .container {
    padding: 35px 15px 20px;
}
