/**
 * layout_main.css
 *
 **/

/**********************************************************************************************************************
 * MAIN                                                                                                               *
 **********************************************************************************************************************/

html, body {
	height: 100vh;
}

wrapper {
    min-height: 100vh;
    height: auto;
}

wrapper > .container {
    padding: 35px 15px 20px;
}

/**********************************************************************************************************************
 * FOOTER                                                                                                             *
 **********************************************************************************************************************/
 .footer {
    height: 70px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding: 20px;
}
