/**
 * form-registration-resend
 *
 **/

/**********************************************************************************************************************
 * FORMS                                                                                                              *
 **********************************************************************************************************************/
.form-registration-resend {
    width: 100%;
    max-width: 420px;
    padding: 15px;
    margin: auto;
}
