/**
 * form-request
 *
 **/

/**********************************************************************************************************************
 * FORMS                                                                                                              *
 **********************************************************************************************************************/
.form-request {
    width: 100%;
    max-width: 420px;
    padding: 15px;
    margin: auto;
}
    .form-request input[type="email"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
