/**
 * site.css
 *
 * CSS web application basic
 **/

/**********************************************************************************************************************
 * MAIN                                                                                                               *
 **********************************************************************************************************************/
 :root {
    --input-padding-x: .75rem;
    --input-padding-y: .75rem;
}

a.asc:after {
    content: "\2191";
	padding-left: 2px;
}

a.desc:after {
	content: "\2193";
    padding-left: 2px;
}

html, body {
	height: 100vh;
}

wrapper {
    min-height: 100vh;
    height: auto;
}

wrapper > .container {
    padding: 35px 15px 20px;
}

/**********************************************************************************************************************
 * HEIGHT                                                                                                             *
 **********************************************************************************************************************/
 .h-77vh {
    height: 77vh;
}

/**********************************************************************************************************************
 * FOOTER                                                                                                             *
 **********************************************************************************************************************/
 .footer {
    height: 70px;
    background-color: #212529;
    border-top: 1px solid #ddd;
    padding: 20px;
}
